* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
html, body {height: 100%; }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
    
    background: fixed center
        radial-gradient(#fff5, #fff2),
        url(https://upload.wikimedia.org/wikipedia/commons/8/83/Brusque1.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    height: 7vh;
    width: 100vw;
    background: fixed #070;
    outline: solid #fff .75vh;

    display: flex;
    align-items: center;
    gap: 2%;
}
.topbar-button {
    color: #fff;
    font-size: 1.2vw;
    text-decoration: none;
}
.topbar-button:hover {
    color: #bbb;
    /* font-size: 1.3vw; */
}


main {
    position: relative;
    top: 30vh;

    background: #fffe;
    background-size: cover;
    padding: 5vh 5vh;
    border-radius: 10px;
}

.play-button {
    font-size: 1.2vw;
    border: 0;
    border-radius: 10px;

    text-align: center;
    text-decoration: none;
    color: #000;
}
.play-button:hover { filter: brightness(1.1); }

form {
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 3vh 3vh 3vh 4vh;
    gap: 5%;
}


.question {
    position: relative;
    top: 17vh;

    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 1.3vw;
    background: #fffe;
    background-size: cover;
    padding: 8vh 8vh;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    gap: 10%;
}
.question h2 {
    position: relative;
    background: linear-gradient(-90deg, #fc0, #fc00);
}
.question h2::first-letter { font-size: 4vw; }
.question span {
    color: #fff;
    background-color: #fc0;
    font-weight: bold;
    font-size: 2vw;
    border-radius: 10px;

    position: absolute;
    right: 0;
    top: 0;
}
.question div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
}
.question a {
    position: relative;
    text-decoration: none;
}
.question h3 {
    color: #efe;
    background-color: #ea0;
    border-radius: 12px;
}
.audio-button {
    height: 2.2vw;
    width: 4vw;
    font-size: 1.5vw;
    border-radius: 14px;
    position: absolute;
    top: .3vw;
    right: .3vw;
    border: 0;
    color: #fff;
    background-color: #38f;
}


footer {
    position: absolute;
    bottom: 1vh;

    color: #dde;
    background: fixed #0003;
    padding: 0 1vw;
    border-radius: 6px;

    font-size: .75vw;
    text-align: center;

    display: flex;
    flex-direction: row;
    gap: .5vw;
}
footer p:not(:last-child)::after {
    content: "•";
    margin-left: .5vw;
    opacity: 0.6;
}
