* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
:root {
    --color1: #c58e;
    --dcolor1: #925f;
    --fonttiny: 13px;
    --fontsmall: 15px;
    --fontbig: 20px;
    --fontbigger: 35px;
    --fonthuge: 50px;

    --color-medio: #fc0;
    --color-desafio: #a0c;

    --max-width: 900px;
}

html, body {height: 100%;}
body {
    font-family: cursive;
    font-size: var(--fontbig);
    
    background:
        fixed center
        url(https://img.magnific.com/vetores-gratis/fronteira-de-jardim-de-infancia-brincalhao-com-rabiscos-de-lapis_107791-32012.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    height: 40px;
    width: 100vw;
    background: fixed var(--color1);
    outline: solid #401 3px;

    display: flex;
    align-items: center;
}
.topbar-button {
    color: #fff;
    margin: 15px;
    text-decoration: none;
    transition: color .2s ease;
}
.topbar-button:hover {
    color: var(--dcolor1);
}


.register {
    position: relative;
    top: 30vh;

    background: var(--color1);
    background-size: cover;

    padding: 40px 40px;
    border-radius: 6px;
}

.play-button {
    border: 0;
    border-radius: 10px;

    text-align: center;
    text-decoration: none;
    color: #000;
}
.play-button:hover { filter: brightness(1.1); }

form {
    align-content: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 20px 20px 20px 25px;
    gap: 10%;
}


.question {
    position: relative;
    top: 17vh;

    font-size: var(--fontsmall);
    background: #fffe;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    width: 80vw;
    max-width: var(--max-width);
    min-height: 450px;

    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.question h2 {
    position: relative;
    grid-area: head;
    width: 105%;
    height: fit-content;
    margin-top: 5%;
}
.question h2::first-letter { font-size: var(--fontbigger); }
.question span {
    color: #fff;
    font-weight: bold;
    font-size: var(--fontbigger);
    border-radius: 3px;

    position: absolute;
    right: 0;
    top: 0;
}
.question div {
    position: relative;
    margin-top: 20px;
    display: grid;
    grid-template-areas:
        "img ans1"
        "img ans2"
        "img ans3"
        "img ans4";
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 20% 20% 20%;
    height: 70%;

    font-size: var(--fontbigger);
}
.question a {
    text-decoration: none;
    position: relative;
    font-size: var(--fontbigger);
}
.question h3 {
    position: relative;
    color: #efe;
    border-radius: 4px;
}
.question img {
    grid-area: img;
}
.audio-button {
    height: 50px;
    width: 50px;
    font-size: var(--fontbigger);
    border-radius: 8px;
    position: absolute;
    top: 5%;
    right: 5%;
    border: 0;
    color: #fff;
    background-color: #38f;
}


.level {
    position: relative;
    top: 30vh;

    color: #000;
    font-size: var(--fonthuge);
    background: #fffe;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    width: 80vw;
    max-width: var(--max-width);
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.level a, .level h3 {
    color: #000;
    text-decoration: none;
    position: relative;
    font-size: var(--fontbigger);
    width: fit-content;
    border-radius: 10px;
}


.palette-medio span{
    background-color: var(--color-medio);
}
.palette-medio h2 {
    background: linear-gradient(-90deg, var(--color-medio), #0000);
}
.palette-medio h3 {
    background-color: color-mix(in srgb, var(--color-medio) 100%, #000 12%)
}

.palette-desafio span {
    background-color: var(--color-desafio);
}
.palette-desafio h2 {
    background: linear-gradient(-90deg, var(--color-desafio), #0000);
}
.palette-desafio h3 {
    background-color: color-mix(in srgb, var(--color-desafio) 100%, #000 20%)
}


footer {
    position: absolute;
    bottom: 1vh;

    color: #dde;
    background: fixed #0006;
    padding: 0 1vw;
    border-radius: 6px;

    font-family: monospace;
    font-size: var(--fonttiny);
    text-align: center;

    display: flex;
    flex-direction: row;
    gap: 10px;
}
footer p:not(:last-child)::after {
    content: "•";
    margin-left: 10px;
    opacity: 0.6;
}
